body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #293241;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  #owner-side, #customer-side {
    width: 45%;
    background-color: #e0fbfc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1{
    text-align: center;
    color: #fff;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #333;
  }
  
  input,
  textarea {
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #f34213;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #000f08;
  }
  
  #itemList {
    margin-top: 10px;
  }
  
  #itemList div {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  strong {
    color: #333;
  }

  